@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

:root{
    --primary-font:"Inter", sans-serif;
    --secondary-font:"Macondo",sans-serif;
    --primary-color:#4b1f12;
    --secondary-color:#aa9518;
    --highlight-color:#6f98be;
    --ligh-highlight-color:#7a9fc2;
}

.sub-heading-color{
    color: var(--highlight-color);
}

.general-margin{
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
    font-family: var(--primary-font);
}

#navbar{
    background-color: var(--primary-color);
}

#navbar img{
    width: 40px;
}

h1,h2,h3{
    font-family: var(--secondary-font);
    color:var(--primary-color);
}


#services .card-footer{
    color:var(--highlight-color);
    font-weight: bold;
}


#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: white;
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color);
}


footer>h1{
    color: white;
}

#new-game .card{
    margin-top: 20px;    
} 

#contact .dark *{
    background-color: transparent;
    color: white;
}

@media screen and (min-width:760px) {
    #services .card-text{
        min-height: 144px;
    }
}
@media screen and (min-width:992px) {
    #contact .btn{
        margin-top: 24px;
    }
    #contact .row {
        margin-left: 10%;
    }
}